@media screen and (max-width: 1200px) {
	body {
		min-width: 992px;
	}
	.menu li {
	    margin-left: 15px;
	}
	.menu li a {
	    font-size: 15px;
	    line-height: 20px;
	}
	.bl-left {
	    padding-left: 112px;
	    padding-right: 25px;
	}
	.bl-txt .text-top {
	    font-size: 16px;
	    line-height: 20px;
	}
		.bl-txt p {
	    margin-bottom: 10px;
	    line-height: 20px;
	}
	.box2:after {
	    margin-right: -391px;
	}
	.box2:before {
	    margin-right: -391px;
	}
	.box3 .bl-txt {
	    padding: 0px 25px 0 33px;
	}
	.box3 .bl-left:after {
	    top: 210px;
	}
	.box3 .head-col-right {
	    width: 210px;
	    bottom: 96px;
	    right: -68px;
	}
	.box3 ul {
	    margin: 25px 0 0 105px;
	    width: 879px;
	}
	.box3 {
	    height: 651px;
	}
	.box3:before {
	    height: 316px;
	    bottom: 55px;
	    margin-right: -570px;
	}
	.box4 .bl-left {
	    padding-left: 112px;
	}
	.box4 .hold-txt {
	    width: 400px;
	}
	.box4 .bl-right {
	    padding: 45px 0 0 47px;
	}
	.hold-box5 {
	    padding-left: 112px;
	}
	.box5 .container:after {
	    margin-right: -221px;
	}
	.box5 .container:before {
	    margin-right: -222px;
	}
	.hold-box6 {
	    padding-left: 112px;
	}
	.hold-form {
	    width: 460px;
	}
	.box6 .bg-left {
	    width: 62%;
	}
	.box6 .bg-right {
	    width: 38%;
	}

	.content {
	    padding-right: 10px;
	    float: left;
	    width: 68%;
	}
	.sidebar {
	    padding-left: 10px;
	    float: left;
	    width: 32%;
	}
	.hold-head h2 {
	    font-size: 33px;
	}
	.hold-head .hold-txt {
	    padding: 25px;
	    height: 174px;
	    width: 326px;
	    font-size: 18px;
	    line-height: 28px;
	    top: 15px;
	    right: 15px;
	}
	.servis-menu {
	    margin: -30px -30px 0;
	}
	.servis-menu li {
	    padding: 30px 30px;
	}
	.hold-form h3 {
	    font-size: 21px;
	}
	.sidebar .button2 {
	    font-size: 22px;
	}
	ul.contact li .hold {
	    min-height: 144px;
	}

}/* max-width: 1200px */

@media screen and (max-width: 991px) {
	body {
		min-width: 750px;
	}
	.mobile-menu {
	    display: block;
	}
	.mobile-menu {
	  position: absolute;
	  top: 10px;
	  right: 15px;
	  z-index: 5;
	  display: block;
	  background: url('../img/bg/btn-navbar.png') no-repeat 0 0;
	  width: 40px;
	  height: 40px;
	}
	#top-menu {
		display: block;
		width: 100%;
		height: 100%;
	}
	.top-menu {
		/* float: none !important; */
		display: none;
	    text-align: center;
	    width: 100%;
	    /* overflow: hidden; */
	}
	.top-menu li {
		display: inline-block;
		float: none;
	}
	.box1 h1 {
	    font-size: 32px;
	    line-height: 42px;
	    text-transform: uppercase;
	}
	.box1 h1 span {
	    font-size: 18px;
	}
	.box2,
	.box3 {
		padding: 20px 0;
	}
	.head-col-left {
		margin: 0 0 25px;
	    width: 100%;
	    height: auto;
	    text-align: left;
	    text-transform: uppercase;
	    position: relative;
	    top: auto;
	    bottom: auto;
	    left: auto;
	    right: auto;
	    border: none;
	    border-bottom: 1px solid rgba(0, 0, 0, 0.1);	    
	    -webkit-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg);
	}
	.head-col-left h2 {
		padding: 0;
		height: auto;
		display: inline;
		position: relative;
	}
	.head-col-left h2:after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: rgba(0, 0, 0, 0.5);
		position: absolute;
		bottom: -6px;
		left: 0;
	}
	.bl-left {
		padding: 0;
		width: 100%;
		float: none;
		display: block;
	}
	.bl-right {
		padding: 0 !important;
		width: 100%;
		float: none;
		display: block;
	}
	.box3 {
		height: auto;
	}
	.box3 .head-col-left {
		padding: 0 !important;
	    width: 100%;
	    top: auto;
	    left: auto;
	}
	.box3 ul {
		margin: 0 -10px;
		float: none;
		display: block;
		width: auto;
	}
	.box3 ul li {
		padding: 10px;
		width: 50%;
	}
	.box3 ul li a {
		height: 100%;
	}
	.box3 img {
		margin-bottom: 25px;
		width: 100%;
	}
	.box3 .head-col-right {
	    bottom: 64px;
	    border-right: 1px solid #fff;
	}
	.box4 {
		height: auto;
	}
	.box4 .bl-left {
	    padding-left: 0;
	    padding-bottom: 15px;
	}
	.box4 .bg-left {
		width: 100%;
		height: 418px;
	}
	.box4 .bg-right {
		display: none;
	}
	.box4 .hold-txt {
	    width: 100%;
	    height: 300px;
	}
	.box4 .head-col-left {
	    text-align: left;
	    width: 100%;
	    top: 0;
	    left: 0;
	    border-color: rgba(255,255,255,.2);
	}
	.box4 .head-col-left h2:after {
		background: rgba(255,255,255,.7);
	}
	.box4 .bl-right ul {
		margin: 0 -16px;
		width: auto;
	    text-align: right;
	    text-align: center;
	    background: #2f2f2f;
	    padding: 30px 20px;
	}
	.box5 {
		padding: 20px 0 10px;
	}
	.box5 .head-col-left {
	    margin: 0 0 25px;
	    width: 100%;
	    height: auto;
	    text-align: left;
	    text-transform: uppercase;
	    position: relative;
	    top: auto;
	    bottom: auto;
	    left: auto;
	    right: auto;
	    border: none;
	    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	    -webkit-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg);
	}
	.flexslider {
		margin-bottom: 15px;
		margin-left: -20px;
	}
	.hold-box5 {
	    padding-left: 0;
	}
	.box6 .bg-left {
		width: 100%;
	}
	.box6 .bg-right {
		top: 659px;
		width: 100%;
	}
	.hold-box6 {
	    padding-left: 0;
	}
	.box6 .head-col-left {
	    text-align: left;
	    color: #fff;
	    border-color: rgba(255,255,255,.2);
	}
	.box6  .head-col-left h2:after {
		background: rgba(255, 255, 255, 0.5)
	}
	.hold-form {
	    width: 50%;
	}
	.box6 .bg-right {
		display: none;
	}
	ul.adress {
	    padding-left: 30px;
	    width: 50%;
	}
	.box6 .bg-left {
	    height: 800px;
	}

	.content {
	    padding-right: 0;
	    width: 100%;
	}
	.sidebar {
	    padding-left: 0;
	    width: 100%;
	}
	.service .content,
	.sidebar .content {
		border: none;
	}
	.content.w50 {
	    width: 100%;
	}
	.sidebar.w50 {
	    width: 100%;
	}
	.servis-menu,
	ul.contact  {
		margin-bottom: 30px;
	}
	.servis-menu li {
	    padding: 30px 30px 15px;
	}


	.box2:before,
	.box2:after,
	.box3 .bl-left:after,
	.box3:after,
	.box3:before,
	.box5 .container:before,
	.box5 .container:after {
	    display: none;
	}

}/* max-width: 991px */

@media screen and (max-width: 768px) {
	body {
		min-width: 620px;
	}
	.bottom-menu {
		display: none;
	}
	.hold-head {
	    padding-bottom: 120px;
	}
	.hold-head h2 {
		width: 100%;
		top: 50px;
	}
	.hold-head .hold-txt {
	    padding: 25px;
	    height: 120px;
	    width: 100%;
	    font-size: 18px;
	    line-height: 28px;
	    top: auto;
	    right: 0;
	    border-color: #000;
	    background: #2f2f2f;
	}
	ul.contact li {
		width: 100% !important;
	}
	.bl-top {
		margin-top: 30px;
	}
	.menu li {
	    margin-left: 8px;
	}

}/* max-width: 768px */

@media screen and (max-width: 620px) {
	body {
		min-width: 320px;
	}
	.top-menu li {
		margin-top: 7px;
	    display: block;
	    text-align: left;
	}
	.top-menu li a {
		display: inline-block;
	}
	.box1 h1 {
	    font-size: 24px;
	    line-height: 32px;
	}
	.box1 h1 span {
	    font-size: 14px;
	}
	.box1 a {
	    padding: 10px 15px;
	    font-size: 14px;
	    line-height: 20px;
	}
	.head-col-left h2 {
	    font-size: 18px;
	    line-height: 29px;
	}
	.box3 ul li {
	    padding: 10px;
	    width: 100%;
	}
	.box4 .hold-txt p {
	    font-size: 18px;
	    line-height: 26px;
	}
	.box6 .bg-right {
		display: block;
	}
	#slider ul.slides li p {
	    font-size: 16px;
	    line-height: 26px;
	}
	#slider .head-col-slide h3 {
	    margin: 0;
	    font-size: 18px;
	    line-height: 22px;
	}
	.hold-form {
	    width: 100%;
	}
	ul.adress {
	    padding-top: 50px;
	    width: 100%;
	    margin: 0;
	}
	.servis-menu li {
	    width: 100%;
	}
}/* max-width: 640px */

@media screen and (max-width: 480px) {
	.hold-head {
	    padding-bottom: 160px;
	}
	.hold-head .hold-txt {
		height: 160px;
	}

}/* max-width: 480px */