/* font-family: "ArimoRegular"; */
@font-face {
    font-family: "ArimoRegular";
    src: url("../fonts/ArimoRegular/ArimoRegular.eot");
    src: url("../fonts/ArimoRegular/ArimoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArimoRegular/ArimoRegular.woff") format("woff"),
    url("../fonts/ArimoRegular/ArimoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArimoBold"; */
@font-face {
    font-family: "ArimoBold";
    src: url("../fonts/ArimoBold/ArimoBold.eot");
    src: url("../fonts/ArimoBold/ArimoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArimoBold/ArimoBold.woff") format("woff"),
    url("../fonts/ArimoBold/ArimoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArimoBoldItalic"; */
@font-face {
    font-family: "ArimoBoldItalic";
    src: url("../fonts/ArimoBoldItalic/ArimoBoldItalic.eot");
    src: url("../fonts/ArimoBoldItalic/ArimoBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArimoBoldItalic/ArimoBoldItalic.woff") format("woff"),
    url("../fonts/ArimoBoldItalic/ArimoBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArimoItalic"; */
@font-face {
    font-family: "ArimoItalic";
    src: url("../fonts/ArimoItalic/ArimoItalic.eot");
    src: url("../fonts/ArimoItalic/ArimoItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArimoItalic/ArimoItalic.woff") format("woff"),
    url("../fonts/ArimoItalic/ArimoItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body, html {
  width: 100%;
  min-width: 320px;   
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  background: #fff;
  min-width: 1170px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  border: none;
}
input::-moz-placeholder             {line-height: 24px;transition: opacity 0.3s ease;text-transform: uppercase;}
input:-moz-placeholder              {line-height: 24px;transition: opacity 0.3s ease;text-transform: uppercase;} 
input[placeholder]                  {line-height: 24px;transition: opacityt 0.3s ease;text-transform: uppercase;}
input::-webkit-input-placeholder    {line-height: 24px;transition: opacity 0.3s ease;text-transform: uppercase;}
input:-ms-input-placeholder         {line-height: 24px;transition: opacity 0.3s ease;text-transform: uppercase;} 
input:focus::-webkit-input-placeholder {opacity: 0; outline: none;}
input:focus::-moz-placeholder          {opacity: 0; outline: none;}
input:focus:-moz-placeholder           {opacity: 0; outline: none;}
input:focus:-ms-input-placeholder      {opacity: 0; outline: none;}
textarea::-moz-placeholder             {line-height: 24px;transition: opacity 0.3s ease;text-transform: uppercase;}
textarea:-moz-placeholder              {line-height: 24px;transition: opacity 0.3s ease;text-transform: uppercase;} 
textarea[placeholder]                  {line-height: 24px;transition: opacityt 0.3s ease;text-transform: uppercase;}
textarea::-webkit-input-placeholder    {line-height: 24px;transition: opacity 0.3s ease;text-transform: uppercase;}
textarea:-ms-input-placeholder         {line-height: 24px;transition: opacity 0.3s ease;text-transform: uppercase;} 
textarea:focus::-webkit-input-placeholder {opacity: 0; outline: none;}
textarea:focus::-moz-placeholder          {opacity: 0; outline: none;}
textarea:focus:-moz-placeholder           {opacity: 0; outline: none;}
textarea:focus:-ms-input-placeholder      {opacity: 0; outline: none;}
a {
  font-family: "ArimoRegular";
  color: #000;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  transition: color 0.2s ease, background 0.2s ease;
  -webkit-transition: color 0.2s ease, background 0.2s ease;
  -o-transition: color 0.2s ease, background 0.2s ease;
  -moz-transition: color 0.2s ease, background 0.2s ease;
}
a:hover, a:focus {
  text-decoration: none;
  outline: none;
}
a span,
button span {
  border-bottom: 1px solid rgba(0,0,0,.3);
  -webkit-transition: border-color 0.2s ease;   
     -moz-transition: border-color 0.2s ease;
       -o-transition: border-color 0.2s ease;
          transition: border-color 0.2s ease;
}
a:hover span,
button:hover span {
  border-color: rgba(0,0,0,1);
}
.btn:hover, .btn:focus, .btn.focus {
   outline: none;
}
b, strong, h1, h2, h3, h4 {
  font-family: "ArimoBold";
  font-weight: 400;
}
section {
  position: relative;
  overflow: hidden;
  width: 100%;
}
i {
  font-family: "ArimoItalic";
}
i b,
b i {
  font-family: "ArimoBoldItalic";
  font-weight: normal;
}
h1, h2, h3, h4 {
  font-family: "ArimoBold";
  font-weight: normal;
}
img {
  display: inline-block;
  max-width: 100%;
}
.mobile-menu {
  display: none;
}


.header-top {
  padding: 10px 0;
  background-color: #2f2f2f;
}
.header-top .contakt {
  margin-top: 2px;
  color: #fff;
  text-transform: uppercase;
}
ul.sprite {
  overflow: hidden;
}
ul.sprite li {
  margin-left: 10px;
  float: left;
}
ul.sprite li a {
  display: block;
  width: 23px;
  height: 23px;
  background: url('../img/bg/sprite-soc.png') no-repeat 0 0;
}
ul.sprite li:nth-child(2) a {
  background-position: -23px 0;
}
ul.sprite li:nth-child(3) a {
  background-position: -46px 0;
}
ul.sprite li:nth-child(4) a {
  background-position: -69px 0;
}
.header-bottom {
  padding: 15px 0 26px;
}
.header-bottom .container {
  position: relative;
}
.logo {
  margin: 17px 45px 0 0;
  width: 147px;
  height: 40px;
  background: url('../img/bg/logo.png') no-repeat 0 0;
}
.logo2 {
  width: 77px;
  height: 59px;
  background: url('../img/bg/logo2.png') no-repeat 0 0;
}
.menu li {
  margin-top: 32px;
  margin-left: 21px;
  display: inline-block;
  vertical-align: top;
}
.menu li a {
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  display: block;
  position: relative;
  color: #000;
}
.menu li a:hover,
.menu li a:focus,
.menu li a:visited {
  color: #000;
  outline: none;
}
.menu li a:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;   
     -moz-transition: opacity 0.2s ease;
       -o-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
}
.menu li a:hover:before {
  opacity: .5;
}
.menu li.active a:before {
  opacity: 1;
}

.box1 {
  background: url('../img/bg/bg-box1.jpg') no-repeat center;
  background-size: cover;
  height: 503px;
  width: 100%;
  color: #fff;
  text-align: center;
}
.box1 .container {
  height: 100%;
}
.table {
  height: 100%;
  display: table;
  margin: 0;
}
.table-row {
  display: table-cell;
  vertical-align: middle;
}
.box1 h1 {
  font-size: 41px;
  line-height: 50px;
  text-transform: uppercase;
}
.box1 h1 span {
  margin-bottom: 20px;
  font-size: 24px;
  display: block;
  font-family: "ArimoRegular";
}
.box1 a {
  margin: 0 5px;
  padding: 15px 30px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  font-size: 18px ;
  line-height: 24px;
  font-family: "ArimoBold";
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;

}
.box1 .link2 {
  background-color: #0080bd;
}
.box1 a:hover {
  background-color: #fff;
  color: #0080bd;
}

.box2 {
  padding: 85px 0;
  color: #333333;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.box2:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #999;
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-right: -491px;
}
.box2:after {
  content: '';
  display: block;
  width: 1px;
  height: 85px;
  background: #999;
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-right: -491px;
}
.bl-left {
  padding-left: 152px;
  padding-right: 71px;
  float: left;
  width: 50%;
  position: relative;
}
.bl-right {
  float: right;
  width: 50%;
  position: relative;
}
.box2 .bl-right img {
  float: right;
  width: 100%;
}
.head-col-left {
  width: 186px;
  height: 80px;
  text-align: right;
  text-transform: uppercase;
  position: absolute;
  top: 59px;
  left: -52px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.head-col-left h2 {
  margin: 0;
  padding: 22px 0;
  height: 80px;
  font-size: 24px;
  line-height: 36px;
  font-family: "ArimoRegular";
}

.head-col-right {
  width: 180px;
  height: 80px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 50px;
  right: -50px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.head-col-right h3 {
  margin: 0;
  padding: 22px 0;
  height: 80px;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}

.text-top {
  font-size: 18px;
  line-height: 24px;
}
b.blue {
  font-family: "ArimoBold"; 
  font-style: normal;
  color: #0080bd;
}
p {
  margin-bottom: 25px;
  line-height: 24px;
}


.box3 {
  padding: 70px 0;
  position: relative;

  height: 725px;  /* !!!!! */
}
.box3:before {
  content: '';
  display: block;
  background: #999;
  width: 1px;
  height: 350px;
  position: absolute;
  bottom: 55px;
  right: 50%;
  margin-right: -570px;
}
.box3:after {
  content: '';
  display: block;
  background: #999;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 55px;
  right: 50%;
  margin-right: -570px;

}
.box3 .bl-left {
  padding-right: 0;
  position: relative;
}
.box3 .head-col-left {
  width: 232px;
  top: 76px;
  left: -75px;
}
.box3 .bl-txt {
  padding: 0 55px 0 75px;
}
.box3 .head-col-right {
  width: 250px;
  border-right: none;
  border-left: 1px solid #fff;
  bottom: 117px;
  right: -85px;
}
.box3 .bl-left:after {
  content: '';
  display: block;
  width: 569px;
  height: 1px;
  background: #999;
  position: absolute;
  top: 250px;
  left: 100%;
}
.box3 ul {
  margin: 55px 0 0 147px;
  overflow: hidden;
  float: left;
  width: 919px;
}
.box3 ul li {
  float: left;
  width: 25%;
  padding: 0 5px;
  height: 206px;
  overflow: hidden;
}
.box3 ul li a {
  padding: 30px;
  display: block;
  background: #e9e9e9;
  color: #0a0a0a;
}
.box3 ul li a:hover {
  color: #0a0a0a;
}
.box3 ul li h4 {
  margin: 0 0 35px;
  padding-bottom: 7px;
  font-style: 20px;
  line-height: 24px;
  position: relative;
  text-transform: uppercase;
  font-family: "ArimoBold";
}
.box3 ul li h4:after {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background: #0080bd;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: width 0.2s ease;   
     -moz-transition: width 0.2s ease;
       -o-transition: width 0.2s ease;
          transition: width 0.2s ease;
}
.box3 ul li:hover h4:after {
  width: 100%;
}
.box3 ul li:nth-child(2) a {
  background: url('../img/bg-li-box3.jpg') no-repeat center;
  background-size: cover;
  color: #fff;
}
.box3 ul li:nth-child(2) h4:after {
  background: #fff;
}

.box4 {
  height: 418px;
  position: relative;
  color: #fff;
}
.box4 .bg-left {
  width: 50%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../img/bg/box4-left.png') no-repeat center;
  background-size: cover;
  z-index: -1;
}
.box4 .bg-right {
  width: 50%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background: #2f2f2f;
  z-index: -1;
}
.blue {
    color: #0080bd;
}
.box4 h2 {
  color: #fff;
}
.box4 .container {
  height: 100%;
}
.box4 .bl-left {
  padding: 40px 0 40px 183px;
  float: none;
  height: 100%;
  display: inline-block;
}
.box4 .hold-txt {
  margin-right: -30px;
  width: 436px;
  height: 100%;
  display: block;
  padding: 40px;
  border: 2px solid #fff;
}
.box4 .hold-txt p {
  margin: 0;
  font-family: "ArimoBold";
  font-size: 24px;
  line-height: 35px;
}
.box4 .head-col-left {
    text-align: center;
    width: 231px;
    top: 121px;
    left: -73px;
}
.box4 .bl-right {
  padding: 45px 0 0 100px;
}
.box4 .bl-right ul {
  text-align: right;
  text-align: center;
}
.box4 .bl-right ul li {
  margin-bottom: 15px;
  padding: 0 30px;
  display: inline-block;
  width: 49%;
  position: relative;
}
.box4 .bl-right ul li:before {
  content: "";
  display: inline-block;
  width: 52px;
  height: 72px;
  background: url('../img/bg/bg-ul-box4.png') no-repeat 0 0;
}
.box4 .bl-right ul li:nth-child(2):before {
  background-position: -52px 0;
}
.box4 .bl-right ul li:nth-child(3):before {
  background-position: -104px 0;
}
.box4 .bl-right ul li:nth-child(4):before {
  background-position: -156px 0;
  width: 64px;
}

.box5 {
  padding: 80px 0 60px;
  position: relative;
}
.box5 .container {
  position: relative;
}

.box5 .container:before {
    content: '';
    display: block;
    background: #999;
    width: 1px;
    height: 60px;
    position: absolute;
    bottom: -55px;
    right: 50%;
    margin-right: -322px;
    z-index: 1;
}
.box5 .container:after {
    content: '';
    display: block;
    background: #999;
    width: 2000px;
    height: 1px;
    position: absolute;
    bottom: -55px;
    right: 50%;
    margin-right: -322px;
    z-index: 1;
}

.hold-box5 {
  padding-left: 183px;
  position: relative;
}
.slider-item {
  padding: 0 35px;
  position: relative;
}
#carousel li {
  cursor: pointer;
}

.flexslider .slides img {
  width: auto;
  max-width: 100%;
}

.flex-prev,
.flex-next {
  display: block;
  width: 20px;
  height: 34px;
  background: url('../img/bg/bg-next.png') no-repeat 0 0;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 0;
  -webkit-transition: all 0s ease;   
     -moz-transition: all 0s ease;
       -o-transition: all 0s ease;
          transition: all 0s ease;
}
.flex-direction-nav a.flex-next:before,
 .flex-direction-nav a.flex-prev:before {
  display: none;
}
.flex-next {
  background-position: -20px 0;
  left: auto;
  right: 0;
}
.flex-next:hover {
  background-position: -20px -34px;
}
.flex-prev:hover {
  background-position: 0 -34px;
}
#slider ul.slides li {
  padding: 30px 30px 60px;
  background: #e9e9e9;
  position: relative;
}
#slider ul.slides li p {
  font-size: 18px;
  line-height: 28px;
}
.box5 .head-col-left {
    width: 215px;
    height: 80px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 59px;
    left: -65px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
#slider .flex-direction-nav {
  display: none;
}
#slider .head-col-slide {
  padding: 20px 5px;
  width: 245px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  text-align: center;
  z-index: 2
}
#slider .head-col-slide h3 {
  margin: 0;
  font-size: 20px;
  line-height: 22px;
}

.box6 {
  padding: 45px 0;
  overflow: hidden;  
}
.box6 .head-col-left {
  text-align: center;
  color: #fff;
}
.box6 .bg-left {
  float: left;
  width: 65%;
  height: 690px;
  background: #2f2f2f;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.box6 .bg-right {
  float: right;
  width: 35%;
  height: 690px;
  background: url('../img/bg/bg-bl_right.jpg') no-repeat 0 0;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;  
}
@media screen and (min-width: 1400px) {
    .box6 .bg-left {
    width: 63%;
  }
  .box6 .bg-right {
    width: 37%;
  }
}
@media screen and (min-width: 1500px) {
    .box6 .bg-left {
    width: 62%;
  }
  .box6 .bg-right {
    width: 38%;
  }
}
@media screen and (min-width: 1600px) {
    .box6 .bg-left {
    width: 60.5%;
  }
  .box6 .bg-right {
    width: 39.5%;
  }
}




.hold-box6 {

  padding-left: 183px;
  position: relative;
}
.hold-form {
  padding: 25px;
  padding-bottom: 46px;
  border: 2px solid #fff;
  width: 520px;
  float: left;
}
.hold-form h3 {
  margin: 0 0 20px;
  color: #fff;
  text-transform: uppercase;
}
.hold-form .hold-int {
  margin-bottom: 40px;
}
.hold-form input::-moz-placeholder             {line-height: 24px;transition: opacity 0.7s ease;text-transform: uppercase;}
.hold-form input:-moz-placeholder              {line-height: 24px;transition: opacity 0.7s ease;text-transform: uppercase;} 
.hold-form input[placeholder]                  {line-height: 24px;transition: opacityt 0.7s ease;text-transform: uppercase;}
.hold-form input::-webkit-input-placeholder    {line-height: 24px;transition: opacity 0.7s ease;text-transform: uppercase;}
.hold-form input:-ms-input-placeholder         {line-height: 24px;transition: opacity 0.7s ease;text-transform: uppercase;} 
.hold-form input {
  padding: 3px 0;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255,255,255,.7);
  color: #fff;
  text-transform: none !important;
}
.hold-form input:focus {
  border-color: #fff;
  outline: none;
}
.hold-form textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255,255,255,.7);
  color: #fff;
  resize: none;
  text-transform: none !important;
}
.hold-form textarea:focus {
  border-color: #fff;
  outline: none;
}

.hold-form .button2 {
  padding: 10px 60px 10px 15px;
  border: 1px solid #fff;
  position: relative;
  text-transform: uppercase;
  float: right;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  position: relative;  
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;
}
.hold-form .button2:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -10px;
  display: block;
  width: 36px;
  height: 21px;
  background: url('../img/bg/bg-send.png') no-repeat 0 0;
}
.hold-form .button2:hover {
  border-color: #0080bd;
}
.hold-form .button2:hover:before {
  background-position: -36px 0;
}
ul.adress {
  padding-top: 50px;
  float: right;
  width: 302px;
  color: #fff;
}
ul.adress li {
  margin-bottom: 80px;
  padding-top: 10px; 
  display: block;
  position: relative;
}
ul.adress li:before {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 0;
  left: -5px;
}
ul.adress li h4 {
  margin: 0 0 20px;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;

}
ul.adress li span {
  font-size: 16px;
}

.bl-top {
  border-bottom: 2px solid #999;
}
.bottom-menu {
  text-align: center;
}
.bottom-menu li {
  margin: 30px 15px;
  display: inline-block;
}
.bottom-menu .dropdown-menu {
  top: auto;
  bottom: 100%;
}
.bottom-menu .dropdown-menu li {
  margin: 5px 20px;
}
.bl-bottom {
  padding: 30px 0;
  text-align: center;
  font-size: 12px;
}

/* font-family: "ArimoRegular";
font-family: "ArimoBold"; */

.modal {
    background: rgba(0, 0, 0, 0.5);
}
.error {
    border-color: #ff0000 !important;
}
.modal .modal-cont {
    margin: -190px 0 0 -250px;
    padding: 20px;
    width: 500px;
    height: 394px;
    background: #e4e7e9;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10000;
}
.modal .cancel.button {
    background: url('../img/bg/cancel.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    width: 28px;
    height: 28px;
    opacity: 0.6;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99999;
}
.modal-cont .wraper-thank-you {
    display: table;
    width: 100%;
    height: 100%;
}
.modal-cont .table-row {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.modal-cont .thanks {
    font-size: 17px;
    line-height: 42px;
}


.service header {
  margin-bottom: 15px;
}
.content {
  padding-right: 35px;
  float: left;
  width: 68%;
}
.content.w50 {
  width: 50%;
}
.content.content-right {
  float: left;
  padding: 0 0 0 35px;
}

.service .content {
  border-right: 1px solid #e8e8e8;
}
.hold-head {
  margin-bottom: 30px;
  position: relative;
}
.hold-head img {
  width: 100%;
}
.hold-head h2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 50%;
  margin-top: -20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 36px;
  line-height: 40px;
  font-family: "ArimoRegular";
}
.hold-head h2.smaller {
  font-size: 30px;
}
.hold-head .hold-txt {
  padding: 30px;
  overflow: hidden;
  height: 150px;
  width: 340px;
  border: 2px solid #fff;
  font-size: 20px;
  line-height: 28px;
  font-family: "ArimoBold";
  color: #fff;
  position: absolute;
  top: 46px;
  right: 57px;
  background: rgba(255, 255, 255, 0.2);
}
.servis-menu {
  margin: -30px -50px 0;
}
.servis-menu li {
  width: 50%;
  display: inline-block;
  padding: 30px 50px;
  margin-left: -.2em;
  vertical-align: top;
}
.servis-menu li a {
  padding: 20px;
  display: block;
}
.servis-menu li a b {
  padding-bottom: 7px;
  margin-bottom: 15px;
  color: #050404;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 2px solid #0080bd;
}
.servis-menu li a span {
  color: #333;
  display: block;
  border: none;
}
.servis-menu li a:hover {
  background: #f5f1f1;
}
.dropdown-menu a {
  text-decoration: none;
}
.dropdown-menu a:hover {
  text-decoration: none;
}
.menu .inner-menu li a:before {
  display: none;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -21px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 22px 23px 18px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropdown-menu a span {
  border-color: transparent;
  color: #333;
}
.dropdown-menu a:hover span {
  border-color: #333;
}
.dropdown-menu .active > a span {
  border-color: #000;
  color: #000;
}
.inner-menu li {
   margin-top: 15px;
}

.sidebar {  
  padding-left: 35px;
  float: left;
  width: 32%;
}
.sidebar.w50 {
  width: 50%;
}
.sidebar.sidebar-left {
  padding: 0 35px 0 0;
}
.service .sidebar {
  margin-left: -1px;
  margin-right: -1px;
  border-left: 1px solid #e8e8e8;
}
.hold-sidebar {
  padding-bottom: 30px;
  background: #2f2f2f;
  color: #fff;
}
.sidebar a,
.sidebar a:hover,
.sidebar a:visited {
  padding-left: 26px;
  color: #fff;
  text-decoration: none;
  display: block;
}
.sidebar .hold-head {
  padding: 37px 10px 28px;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
}
.sidebar h4 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 24px;
}
.panel,
.accordion_item {
    margin-bottom: 9px;
    padding: 31px 20px 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
}
.panel > a {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 22px;
  position: relative;
}
.panel > a:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background: url('../img/bg/bg-colaps.png') no-repeat -15px 0;
  position: absolute;
  top: 3px;
  left: 0;
}
.panel > a.collapsed:before {
  background-position: 0 0;
}
.up-accordion {
  margin-top: 3px;
  display: block;
  width: 15px;
  height: 15px;
  background: url('../img/bg/bg-colaps.png') no-repeat 0 0;
  float: left;
  cursor: pointer;
}
.sidebar .link {
  margin-left: 14px;
  padding: 0;
  float: left;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 22px;
}
.sidebar .link:hover {
  padding: 0;
}
.sidebar .link span {
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    display: block;
}
.sidebar .link:hover span {
  border-color: rgba(255, 255, 255, 0.5);
}
.sidebar .link.active span {
  border-color: rgba(255, 255, 255, 1);
}
.accordion .info {
  display: none;
  width: 100%;
  overflow: hidden;
}
.accordion .active_block .info {
  display: block;
}
.accordion .info a {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 26px;
  padding-left: 0;
  font-size: 16px;
}
.accordion .info a span {
  display: inline-block;
  border-bottom: 1px dashed rgba(255, 255, 255, 0);
}
.accordion .info a:hover span {
  display: inline-block;
  border-color: rgba(255, 255, 255, 0.5);
}
.accordion .info a.active span {
    border-color: rgba(255, 255, 255, 1);
}
.active_block .up-accordion {
  background-position: -15px 0;
}

.panel > a span,
.panel > div a span {
  border-color: transparent;
}
.panel > a span {
  border-bottom: 2px solid transparent;
}
.panel > a:hover span {
  border-color: #fff;
}
.panel > div a {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 16px;
}
.panel > div a span {
  border-bottom: 1px dashed transparent;
}
.panel > div a.active span {
  border-color: #fff;
}
.panel > div a:hover span {
  border-color: rgba(255, 255, 255, 0.5);
}

.flexslider1 {
  margin: -18px 0 0 0;
  padding: 0 0 30px; 0;
}
.hold-people {
  padding: 15px ;
  position: relative;
}
.hold-people .bl-txt {
  position: absolute;
  top: 35px;
  bottom: 35px;
  left: 35px;
  right: 35px;
  background: rgba(0,128,189,.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;   
     -moz-transition: opacity 0.2s ease;
       -o-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
}
.hold-people:hover .bl-txt {
  opacity: 1;
}
.inline-block {
  display: table;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  text-align: center;
}
.inline-block b {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fff;
}
.flexslider1 .flex-prev,
.flexslider1 .flex-next {
    display: block;
    width: 22px;
    height: 14px;
    background: url(../img/bg/spr-slade.png) no-repeat 0 0;
    position: absolute;
    top: auto;
    left: 43%;
    bottom: 5px;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
}
.flexslider1 .flex-prev:hover {
  background-position: 0 -14px;
}
.flexslider1 .flex-next {
  background-position: -22px 0;
  left: 53%;
}
.flexslider1 .flex-next:hover {
  background-position: -22px -14px;
}
.flexslider1 .flex-prev:after,
.flexslider1 .flex-next:after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #ccc;
}
.flexslider1-1 {
  padding: 30px 30px 30px 50px;
  height: 515px;
  width: 100%;
  overflow-y: scroll;
}
.flexslider1-1 .hold-h1 {
  margin-bottom: 30px;
  color: #ccc;
}
.hold-h1 h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "ArimoRegular";
  font-size: 24px;
  line-height: 28px;
  color: #0080bd;
}
.hold-h1 span {
  font-size: 18px;
  line-height: 22px;
}
.flexslider1-1 h2 {
  margin: 0 0 50px;
  color: #ccc;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}
.flexslider1-1 .flex-direction-nav {
  display: none;
}
ul.ul-bg li {
  display: block;
  margin-bottom: 20px;
  padding-left: 30px;
  position: relative;
}
ul.ul-bg li:before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
  background: url('../img/bg/ul-bg.png') no-repeat 0 0;
}

.sidebar .hold-form {
    padding: 25px;
    padding-bottom: 46px;
    border: 2px solid #fff;
    width: 100%;
    height: 520px;
    float: none;
}
.sidebar-form .hold-sidebar {
  padding: 25px;
}
.sidebar .button2 {
  width: 100%;
}

ul.contact {
  margin: 0 -5px;
  overflow: hidden;
}
ul.contact li {
  padding: 5px;
  float: left;
  width: 50%;
  color: #333;
}
ul.contact li:nth-child(2) {
  width: 27%;
}
ul.contact li:nth-child(3) {
  width: 23%;
}
ul.contact li .hold {
  padding: 20px;
  background: #e9e9e9;
}
ul.contact li .hold h3 {
  margin: 0 0 20px;
  padding: 10px 0 0;
  position: relative;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}
ul.contact li .hold h3:before {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background: #0080bd;
  position: absolute;
  top: 0;
  left: 0;
}

/* font-family: "ArimoBold";
font-family: "ArimoRegular"; */